# Node dependencies
node_modules/

# SQLite database files
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Logs
logs/
*.log

# Environment variables
.env

# OS-specific junk
.DS_Store
Thumbs.db

#Utils without specific files
utils/PDF Screenshots/*
!utils/PDF Screenshots/*.*

ISDEV
frontend/dev.config.json

# Local uploads and DB artifacts
backend/db.sqlite

utils/scraper/output/

backend/dbbackupold
backend/uploads
backend/pyqs_assets
backend/pyqs_assets.tar
utils/PDF Screenshots/Quadratic Equations-JeeMain-Formula Sheet.pdf
utils/PDF Screenshots/trigo_formula_sheet.pdf
