<div class="container-fluid">
  <a class="navbar-brand" href="./index.html">QBase</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Left nav -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./bookmarks.html">Bookmarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./worksheet_index.html">Worksheets</a>
      </li>
    </ul>

    <!-- Right nav -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item" id="nav-login-item">
        <a class="nav-link" href="#" id="nav-login">Login</a>
      </li>
      <li class="nav-item dropdown d-none" id="nav-user-item">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarUserDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span id="nav-username">User</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarUserDropdown"
        >
          <li>
            <a class="dropdown-item" href="#" id="nav-logout">Logout</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item text-danger" href="#" id="nav-delete-account">Delete Account…</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

